//------------------------ШРИФТЫ-----------------------------------
@mixin font($fnt_family, $fnt_file, $fnt_weight, $fnt_style) {
   @font-face {
      font-family: $fnt_family;
      src: url("../fonts/" + $fnt_file + ".woff") format("woff"),
         url("../fonts/" + $fnt_file + ".ttf") format("truetype");
      font-weight: $fnt_weight;
      font-style: $fnt_style;
   }
}
@include font("Lato", "Lato-Light", 300, normal);
@include font("Lato", "Lato-Bold", 700, normal);
@include font("Lato", "Lato-Regular", 400, normal);

//------------------ОБШИЕ ПАРАМЕТРЫ--------------------------------
body {
   font-family: Lato;
   font-weight: 400;
   font-size: 16px;
   margin: 0 0;
   overflow: scroll;
}
h1 {
   font-family: Lato;
   font-size: 18px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   color: #353738;
   margin: 0;
}
h2 {
   font-family: Lato;
   font-size: 18px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   color: #353738;
}
p {
   margin: 0;
}
//-----------------------------ОБОЛОЧКА ----------------------------------
.wrapper {
   max-width: 1600px;
   margin: 0 auto;
}
.container {
   max-width: 1100px;
   padding: 0px 15px;
}
//------------------------------HEADER------------------------------------
@import "btntop.scss";
@import "header.scss";
@import "about_us.scss";
@import "work.scss";
@import "twitter.scss";
@import "shop.scss";
@import "mailing.scss";
@import "footer.scss";
//------------------------------ABOUT US----------------------------------
