.work__row,
.work__row2 {
   display: flex;
   @media (max-width: 1200px) {
      display: block;
   }
}
.work__row2 {
   flex-direction: row-reverse;
}
//********************* BIKE+LOGO
.work__sect-logo-img,
.work__sect-logo-img3 {
   position: relative;
   flex-basis: 66.66%;
   overflow: hidden;
}
.work__sect-logo-img3 {
   flex-basis: 33.33%;
}
.work__logoBlock {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work__img1-block {
   background: url(../img/brands/brand1_bike1.jpg);
}
.work__img1-block2 {
   background: url(../img/brands/brand2_bike1.jpg);
}
.work__img1-block3 {
   background: url(../img/brands/brand3_bike1.jpg);
}
.work__img1-block,
.work__img1-block2,
.work__img1-block3 {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 600px;
   @media (max-width: 768px) {
      height: 300px;
   }
}

.work__img1 {
   opacity: 0;
}
//********************** TEXT+IMG
//*** TEXT
.work__sect-info-img {
   flex-basis: 33.33%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: auto;
   @media (min-width: 768px) {
      height: 600px;
   }
}
.work__info-block {
   padding: 0 67px;
}
.work__icon-block {
   display: flex;
   justify-content: center;
   margin-top: 70px;
   @media (max-width: 1200px) {
      margin-top: 10px;
   }
}
.work__title {
   text-align: center;
   margin-top: 22px;
}
.work__text {
   // text-align: left;
   font-family: Lato;
   margin-top: 12px;
   font-size: 16px;
   line-height: 30px;
   font-weight: 400;
   color: #848789;
}
.line {
   border: 1px solid rgba(53, 55, 56, 0.2);
   width: 50px;
   margin: 5px auto;
   margin-bottom: 10px;
}
//*** IMG
.work__img2-block {
   position: relative;
}
.work__img2 {
   vertical-align: bottom;
   @media (max-width: 1200px) {
      width: 100%;
   }
}
.work__arrow-block {
   position: absolute;
   display: flex;
   width: 100%;
   justify-content: center;
}
//********                    стрелка
.arrow {
   width: 0;
   height: 0;
   border-left: 9px solid transparent;
   border-right: 9px solid transparent;
   border-top: 10px solid white;
   left: 50%;
}
